target/
.vscode/
*.bak
.tern-project
*.bak*
.project
.metadata
.classpath
settings.xml
.settings
.class
.directory
version.txt
build
.apt_generated_tests/
classes
workspaces
SoapUI
target/
dist/
private/
.idea/
bin/
*.iml
.data/
*.lck
nb-configuration.xml
.tern-project
.factorypath
*.jasper
.git
~*.*
*.svn
sri-app.log*
*.jsfdia
.pmd
.checkstyle
.sass-cache/
.faces-config.xml.jsfdia
dependency-reduced-pom.xml
.attach_*


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
.checkstyle
.eclipse-pmd